@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  color: red;
}

h1 {
  /* position: absolute; */
  font-size: 70px;
  font-weight: 600;

  /* transform: translate(-50%, -50%); */
}
